<div class="col-sm">
  <div class="card">
    <div class="card-header">
      <img src="{{produto.maquininha}}">
      <div class="preco">
        <h4>{{produto.nome}}</h4>
        <p>
          {{produto.parcelas}}x R$ {{produto.valorParcela}}
        </p>
        <p>
          à vista por R$ {{produto.preco}}
        </p>
      </div>
      </div>
      <div class="card-body">
        <p>
          {{produto.descricao}}
        </p>
      </div>
      <button class="button">PEÇA JÁ A SUA <img src="/assets/icon-arrow-right.svg"></button>
    </div>
</div>